/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --subtitle-block-color: #353430;
  --pharagraph-text-color: #353430;
  --title-item: #353430;
  --main-text-color: #353430;
  --decor-text: #FF8DCB;
  --title-shadow: 4px 4px 0 #FF8DCB;
  --link-shadow: 2px 2px 0 #FF8DCB;
  --theme-menu-button-color: #353430;
  --outline-active: #353430;
  --outline-hover: rgba(50, 49, 45, 0.4);
  --outline-focus: #353430;
  --border-color: #353430;
  --decoration-text-display: none;
  --shadow-link-focus: 1px solid #353430;
  --shadow-link-hover-outline: #353430;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --subtitle-block-color: #353430;
    --pharagraph-text-color: #353430;
    --main-text-color: #353430;
    --decor-text: #FF8DCB;
    --title-shadow: 4px 4px 0 #FF8DCB;
    --link-shadow: 2px 2px 0 #FF8DCB;
    --theme-menu-button-color: #353430;
    --outline-active: #353430;
    --outline-hover: rgba(50, 49, 45, 0.4);
    --outline-focus: #353430;
    --border-color: #353430;
    --decoration-text-display: none;
    --shadow-link-focus: 1px solid #353430;
    --shadow-link-hover-outline: #353430;
  }

  .header__theme-menu-button {
    color: var(--theme-menu-button-color)
  }

  .decoration-text {
    display: var(--decoration-text-display);
  }
}