/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --bg-image: url("../images/cover-image-light.png");
  --text-color: #353430;
  --accent-color-text: #FFC2E6;
  --link-shadow: 2px 2px 0 #FF8DCB;
  --title-shadow: 4px 4px 0 #FF8DCB;
  --color_border: #353430;
  --color-title_block: #353430;
  --link-color: #353430;
}

/* Вам также нужно будет написать ряд подобных селекторов */
.theme-light .page {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.theme-light .header {
  background-image: var(--bg-image);
}

.theme-light .decoration-text {
  display: none;
}

.theme-light .decorated-zone::before {
  border-top: 1px solid var(--color_border);
  border-right: 1px solid var(--color_border);
}

.theme-light .decorated-zone::after {
  border-bottom: 1px solid var(--color_border);
  border-left: 1px solid var(--color_border);
}

.theme-light .title {
  color: var(--accent-color-text);
  text-shadow: var(--title-shadow);
}

.theme-light .header__theme-menu-button {
  color: var(--text-color);
}

.theme-light .header__theme-menu-button_type_dark {
  border: none;
}

.theme-light .header__theme-menu-button_type_light {
  border: 1px solid var(--color_border);
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
}

.theme-light .header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--color_border);
}

.theme-light .pharagraph {
  color: var(--text-color);
}

.theme-light .title_accent {
  color: var(--color-title_block);
}

.theme-light .shadow_link {
  color: var(--link-color);
  text-shadow: var(--link-shadow);
}

.theme-light .shadow_link:hover::after {
  background-color: var(--color_border);
}

.theme-light .shadow_link:focus {
  outline: 1px solid var(--color_border);
}