/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: var(--line-height-text);
  background-attachment: fixed;
}

.page__container {
  position: relative;
  gap: 40px;
  padding-inline: 10px;
  min-width: 375px;
  margin: 0 auto;
  display: grid;
  min-height: 668px;
}

.header {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
  height: 100vh;
  width: 100%;
  max-width: 100%;
}

.background_image {
  background-image: var(--bg-image);
  position: absolute;
  width: calc(100% + 20px);
  margin-left: -10px;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  margin-top: 40px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--accent-color);
  margin-right: 10px;
  margin-top: 33px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_type_dark {
  border: 1px solid var(--accent-color);
}

.title {
  grid-row: 2;
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  --line-height: 82.5%;
  line-height: var(--line-height);
  color: var(--secondary-text);
  text-shadow: var(--title-shadow);
}

.pharagraph {
  width: 355px;
  height: min-content;
  align-self: center;
  justify-self: end;
  grid-row: 3;
  color: black;
  font-weight: bold;
  line-height: 140%;
}

.decoration-text {
  position: absolute;
  top: 11px;
  right: 30px;
  justify-self: end;
  color: var(--accent-color);
  align-self: start;
  justify-self: end;
}

.decoration-text::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -20px;
  width: 9px;
  height: 9px;
  border-radius: 100px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.text_attention {
  font-weight: var(--font-weight-base);
  letter-spacing: 1.2px;
}

.title_block,
.subtitle_block {
  font-size: var(--font-main);
  letter-spacing: var(--letter-spacing_main);
}

.title_decor {
  background-color: var(--accent-color);
  color: black;
}

.title_accent {
  color: var(--accent-color);
}

.attention_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list_attention {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shadow_link {
  text-shadow: var(--link-shadow);
  text-decoration: none;
  color: #F1B2CE;
  position: relative;
}

.shadow_link:hover {
  text-decoration: none;
}

.shadow_link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 1px;
  background-color: #F1B2CE;
}

.shadow_link:focus {
  text-decoration: none;
  outline: 1px solid #F1B2CE;
}

.container_attention-tips {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item_attention {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title_item {
  font-weight: 400;
}

.image-gallery {
  width: 100%;
  max-height: 1400px;
  height: auto;
  min-height: 668px;
  display: grid;
  gap: 10px;
}

.image-gallery_container {
  display: grid;
  gap: 10px;
}

.image_sunset {
  width: 355px;
  height: 142px;
}

.image_ice-cream {
  width: 355px;
  height: 355px;
}

.image_tape {
  width: 355px;
  height: 237px;
}

.image_books {
  width: 355px;
  height: 355px;
}

.image_street {
  width: 355px;
  height: 237px;
}

.image_sunset,
.image_ice-cream,
.image_tape,
.image_books,
.image_street {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  min-height: 668px;
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
}

.title_footer {
  grid-area: 1 / 1;
  text-align: center;
  align-self: center;
  justify-self: center;
}

@media (min-width: 768px) {

  .page__container {
    padding-inline: 20px;
    max-width: calc(768px + (1024 - 768) * (100vw - 768px) / (1024 - 768));
    height: calc(668px + (700 - 668) * (100vw - 375px) / (768 - 375));
  }

  .header {
    width: 100%;
    height: 1024px;
  }

  .background_image {
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  .title {
    font-size: clamp(7.5rem, 10vw, 9rem);
    justify-self: start;
    margin-left: -20px;
  }

  .header__theme-menu-list {
    margin-top: 150px;
  }

  .decoration-text {
    top: 22px;
    right: 30px;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .decoration-text::after {
    top: 8px;
    right: -20px;
  }

  .pharagraph {
    width: calc(364px + (491 - 364) * (100vw - 768px) / (1024 - 768));
    justify-self: end;
    align-self: center;
  }

  .page__container {
    gap: 60px;
  }

  .content {
    gap: 80px;
  }

  .why-focus-hard {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
  }

  .list_attention {
    display: flex;
  }

  .title_why-focus-hard {
    width: 236px;
  }

  .title_attention_problems {
    width: 135px;
  }

  .attention_tips {
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  .container_attention_tips {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .title_attention-tips {
    grid-column: 1;
    width: 236px;
  }

  .subtitle_attention-tips {
    grid-column: 2;
  }

  .subtitle_attention-tips,
  .list_attention_container {
    grid-column: 2;
  }

  .subtitle_attention-tips {
    align-self: stretch;
    min-height: min-content;
  }

  .image-gallery {
    height: 823px;
  }

  .image-gallery_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .image_sunset {
    grid-column: 1 / span 2;
  }

  .image_ice-cream {
    grid-row: span 2;
    object-fit: cover;
    height: 492px;
  }

  .image_tape {
    grid-row: 2 / span 2;
    object-fit: cover;
    height: 560px;
  }

  .image_street {
    grid-column: 2 / span 2;
    object-fit: cover;
    height: 287px;
  }

  .title_footer {
    align-self: center;
    justify-self: center;

  }
}

@media (min-width: 1024px) {

  .page__container {
    padding-inline: 20px;
    max-width: 1024px;
    width: 100%;
    height: 768px;
  }

  .header {
    width: 100%;
    max-width: 1024px;
    align-items: center;
    position: relative;
    height: calc(700px + (768 - 700) * (100vw - 768px) / (1024 - 768));
  }

  .header__theme-menu {
    grid-row: 1;
    justify-self: center;
    align-self: start;
    margin-top: 0;
    width: 100%;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
  }

  .title {
    font-size: 157px;
    align-self: center;
    justify-self: start;
  }

  .pharagraph {
    width: 491px;
    justify-self: end;

  }

  .content {
    gap: 80px;
  }

  .title_why-focus-hard {
    min-width: 315px;
  }

  .attention_problems {
    display: flex;
    flex-direction: column;
  }

  .list_attention_attention_problems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .title_attention_problems {
    min-width: 315px;
  }

  .title_attention-tips {
    min-width: 315px;
  }

  .container_attention-tips {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .image-gallery {
    width: 100%;
    gap: 20px;
    height: 1091px;
  }

  .image-gallery_container {
    width: 100%;
  }

  .image_sunset {
    width: 650px;
    height: 260px;
  }

  .image_ice-cream {
    width: 318px;
    height: 595px;
  }

  .image_tape {
    width: 315px;
    height: 768px;
  }

  .image_books {
    width: 315px;
    height: 315px;
  }

  .image_street {
    width: 649px;
    height: 433px;
  }

  .title_footer {
    justify-self: center;
  }
}